body {
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(225,233,249,1) 35%, rgba(212,227,247,1) 73%, rgba(203,229,246,1) 100%);
    background-repeat: no-repeat;
    height: 100vh;
}

h1 {
    font-size: 3em;
    font-weight: bold;
    height: auto;
    justify-content: space-around;
    margin-top:3em;
    text-align: center;
}