
.topnav {
	align-items: center;
	background-color: rgb(34, 34, 34);
	display: flex;
	height: 8em;
	justify-content: space-between;
	width: 100vw;

}
body {
	background-image: url("../img/cimento-queimado.jpg");
	background-position: center;
	background-size: cover;
}
.logo-top{
    align-self: baseline;
	width: 290px;
}

.botoes-menu { 
	display: flex;
	justify-content: flex-end;
}

li a{
	margin-right: 2em;
	text-decoration: none;
}

body {
	background-color: black;
}

.opcoes-menu a{
	color:rgb(253, 146, 0);
	font-family: 'Hammersmith One', sans-serif;
	font-size: 2em;
	font-weight: bold;
	padding: 1em;
}
